@value makerShadow, makerBlack, makerWhite, makerColorful, makerWheat from '../../common/colors.css';

.card {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 0.5em;
	border-radius: 1em;
	padding: 1em;
	box-shadow: 6px 6px 8px 0 makerShadow;
	max-width: 30rem;
}

.card.dark {
	color: makerWhite;
	background-color: makerBlack;
}

.card.light {
	color: makerBlack;
	background-color: makerWhite;
}

.card.colorful {
	background: makerColorful;
}

.avatar {
	width: 10em;
	height: 10em;
	padding: 1em;
	border-radius: 50%;
	flex: none;
}

.info {
	flex: 1;
	padding: 0 1em;
}

.info h2 {
	margin: 0;
} 

.info > p {
	margin: 0;
	font-size: 0.8rem;
	margin-bottom: 0.2em;
}

.name {
	font-size: 1.2rem;
	margin-bottom: 0.5em;
}

.company {
	margin-bottom: 1em;
}

.company:after {
	content: "";
	display: block;
	width: 90%;
	height: 2px;
	background-color: makerWheat;
}